{% extends 'base.html' %}

{% block content %}

{% if object %}
  <h1>Did you get further in <span class="">{{object.title}}</span>?</h1>
{% else %}
  <h1>Let's go on an adventure</h1>
{% endif %}
<form class="white" action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_p }}
  </table>
{% if object %}
  <button type="submit" value="Submit" class="waves-effect waves-light btn-large black" style="border: 1px solid white;">Update My Progress</button>
{% else %}
  <button type="submit" value="Submit" class="waves-effect waves-light btn-large black" style="border: 1px solid white;">Add to my collection</button>
{% endif %}
</form>

{% endblock %}