{% extends 'base.html' %}

{% block content %}

<h1>What is this and how do I use it?</h1>
<hr>
<h4>I'm so glad you asked!</h4>
<h4>Game_Shelf showcase's your videgame collection and keeps track of your progress for each game.</h4>
<h4>Each game is either on your shelf (currently being played), or off your shelf (collecting dust).</h4>
<h4>Click on any game to view the deets and upload images.</h4>
<div class="center">
  <h4>Create an account to get started.</h4>
  <img class="about_image" src="../static/images/softbg.png" alt="">
</div

{% endblock %}