<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>How do I use this?</h1>
  <hr>
  <p>A clear indication of your nerdyness is provided so you can keep track of your current videogame collection and organize it by what you are currently playing, and what you are not.</p>
  <footer>© 2022 Videogame Collector</footer>
</body>
</html>