{% extends 'base.html' %}
{% block content %}

<h1 class="center">Video Game Collector</h1>
<div class="icon-container">
  <img src="../static/images/playstation.png" alt="" class="home_image">
  <img src="../static/images/xbox.png" alt="" class="home_image">
  <img src="../static/images/nintendo.png" alt="" class="home_image">
<!-- <img src="../static/images/tower-pc.png" alt="" class="home_image"> -->
</div>
<hr>


<div class="carousel">
  <a class="carousel-item" href="#one"><img src="../static/images/returnal.webp"></a>
  <a class="carousel-item" href="#two"><img src="../static/images/cyberpunk.jpeg"></a>
  <a class="carousel-item" href="#three"><img src="../static/images/littlenightmares.jpeg"></a>
  <a class="carousel-item" href="#four"><img src="../static/images/melenia.jpeg"></a>
  <a class="carousel-item" href="#five"><img src="../static/images/inside.png"></a>
  <a class="carousel-item" href="#six"><img src="../static/images/diablo.jpeg"></a>
  <a class="carousel-item" href="#seven"><img src="../static/images/lastofus.jpeg"></a>
</div>

<div class="center">
<h3>We don't forget what you can't remember</h3>
<h4>Organize your progress, upload images, and admire your collection.</h4>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var options = {
      duration : 300,
      shift : 0
    }
    var instances = M.Carousel.init(elems, options);
    setInterval(function(){
        instances[0].next();
    }, 2500);
  });
</script>

{% endblock %}