:root {
  /* Color synced with videogame controller img */
  --color-grey: rgb(180, 177, 172);
  --color-dark-grey: rgb(94, 96, 96);
  --color-green: rgb(0, 128, 100);
  --color-blue: rgb(13, 67, 134);
  --color-red: rgb(223, 61, 73);
  --color-yellow: rgb(254, 182, 82);
}

body {
  font-family: 'Monda', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* background-image: url("../images/videogameBG.jpeg"); */
  /* background-color: rgb(180, 177, 172); */
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: black;
}

.gamer-font  {
  font-family: 'Audiowide', cursive;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_image {
  width: 20%;
  height: auto;
}

.about_image {
  width: 35%;
  height: auto;
}

.gallery_image {
  width: 15%;
  height: auto;
}

#btn_large {
  word-wrap: break-word !important;
  width: 100% !important;
  min-width: max-content !important;
}

.carousel .carousel-item {
  width: 50%;
}

#largecara {
  width: 80%;
  height: auto;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fireworksbg {
  background-image: url('../images/fireworks-.png');
  background-size: cover;
}