{% extends 'base.html' %}
{% block content %}

<h1>Where were we?</h1>

<div class="card z-depth-5 flow-text">
  <div class="card-content">
    <span class="card-title">The last time I played <u><strong>{{ game.title }}</strong></u>...</span>
    <p>{{ game.progress|linebreaks }}</p>
    <div class="card-action">
      <a href="{% url 'games_update' game.id %}">Update My Progress</a>
      <a href="{% url 'games_delete' game.id %}">Delete This Game</a>
    </div>
  </div>
  <div class="center">
    {% for photo in game.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
    <div class="card-panel center-align">No Photos Uploaded</div>
    {% endfor %}
    <form action="{% url 'add_photo' game.id %}" enctype="multipart/form-data" method="POST" class="card-panel center-align">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <button type="submit" class="btn-large black" style="border: 1px solid white;">Upload Photo</button>
    </form>
  </div>
</div>

{% endblock %}