{% extends 'base.html' %}
{% block content %}

<h1>Where were we?</h1>

<div class="card brown lighten-5 z-depth-5 flow-text">
  <div class="card-content">
    <span class="card-title">The last time I played <u><strong>{{ game.title }}</strong></u>...</span>
    <p>{{ game.progress|linebreaks }}</p>
    <div class="card-action">
      <a href="{% url 'games_update' game.id %}">Update My Progress</a>
      <a href="{% url 'games_delete' game.id %}">Remove From My Shelf</a>
    </div>
  </div>
</div>

{% endblock %}