{% extends 'base.html' %}

{% block content %}

<h1>On My Shelf:</h1>
<hr>
<h4>Click a game to see where you left off</h4>
{% for game in games %}
  {% if game.playing %}
    <div class="col s12 m6">
      <div class="card horizontal transparent flow-text" style="border: 1px solid black;">
        <div class="card-image">
          {% for photo in game.photo_set.all %}
              <img src="{{photo.url}}">
          {% empty %}
              <img src="../../static/images/videogameBG.jpeg">
          {% endfor %}
        </div>
        <div class="card-content">
          <a href="{% url 'detail' game.id %}">
            <span class="card-title">{{ game.title }}</span>
          </a>
          <p class=>({{ game.platform }})</p>
          <br>
          <p class="right">{{ game.description }}</p>
        </div>
      </div>
    </div>
      <form action="{% url 'unassoc_game' game_id=game.id %}" method="POST">
        {% csrf_token %}
        <button id="btn_large" type="submit" class="waves-effect waves-light btn-large black bottom" style="border: 1px solid white;">Remove From My shelf</button>
      </form>
      <hr>
      <br>
      <br>
  {% endif %}
  {% empty %}
  <h1 class="red-text">Add A Game(Nerd)</h1>
{% endfor %}

<div class="col s6">
  <h1>Off My Shelf:</h1>
  <hr>
  <br>
  {% for game in games %}
    {% if not game.playing %}
    <div class="card transparent flow-text" style="border: 1px solid white;">
        <div class="card-content">
          <a href="{% url 'detail' game.id %}">
            <span class="card-title ">{{ game.title }}</span>
          </a>
          <p>({{ game.platform }})</p>
          <br>
          <p>{{ game.description }}</p>
        </div>
        <div class="card-action center">
          <form action="{% url 'assoc_game' game_id=game.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="waves-effect waves-light btn-large black" style="border: 1px solid ;">Add to my shelf</button>
          </form>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}